div:nth-child(5n+0) { background: red; } div:nth-child(5n+1) { background: blue; }
div:nth-child(5n+2) { background: green; } div:nth-child(5n+3) { background: pink; }
div:nth-child(5n+4) { background: black; }

div {
  width: 100px;
  height: 100px;
}
